        body {
            font-family: 'Inter', sans-serif;
        }

        .tab-active {
            background-color: #0284c7;
            /* sky-600 */
            color: white;
        }

        .task-completed {
            text-decoration: line-through;
            background-color: #e2e8f0;
            /* slate-200 */
        }

        .progress-bar-bg {
            background-color: #cbd5e1;
            /* slate-300 */
        }

        .progress-bar-fill {
            background-color: #0284c7;
            /* sky-600 */
            transition: width 0.3s ease-in-out;
        }

        .content-fade-enter {
            opacity: 0;
            transform: translateY(10px);
        }

        .content-fade-enter-active {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 300ms, transform 300ms;
        }